// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  display: block;
  float: left;
  margin-left: 47px;
  width: 60%;
  padding: 30px;
}

.btn {
  width: 30%;
  height: 15%;

}
.go {
  padding-top: 5%;
  text-align: center;
}

p{
  padding-top: 30px;
}
