// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input-group {
  width: 60%
}
.input-group-addon {
  line-height: 50px;
}
.form-control {
  line-height: 50px;

}
#signup {
  display: flex;
  flex-wrap: wrap;
}
